@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap");
.fondo, .cantidadJugadores, .contenedor {
  width: 100vw;
  height: 100vh; }

.contenedor .encabezado .opciones #opcion1, .contenedor .encabezado .opciones #opcion2, .contenedor .encabezado .opciones #opcion3 {
  padding: 0.5rem; }
  .contenedor .encabezado .opciones #opcion1:hover, .contenedor .encabezado .opciones #opcion2:hover, .contenedor .encabezado .opciones #opcion3:hover {
    background-color: #e4a010;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s; }

* {
  margin: 0;
  padding: 0; }

.fondo {
  background-image: url(../../imagenFondo/fondo-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  overflow: hidden; }
  .fondo h1 {
    font-weight: 500;
    font-size: 5rem;
    font-family: 'Figtree', sans-serif;
    text-align: left;
    padding-left: 2rem;
    color: rgba(32, 31, 31, 0.822);
    padding-top: 8%;
    padding-right: 50%;
    box-shadow: 0px 0px 30px black; }
  .fondo .boton {
    font-size: 2.8rem;
    margin: 8rem;
    margin-top: 8rem; }
    .fondo .boton .init {
      color: white;
      text-decoration: none; }

.cantidadJugadores {
  display: flex;
  flex-direction: column;
  background-image: url(../../imagenFondo/fondo-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .cantidadJugadores p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 3rem;
    margin-top: 8rem; }
  .cantidadJugadores .botones {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cantidadJugadores .botones #jugadores2 {
      margin-bottom: 1rem;
      font-size: 1.5rem; }
    .cantidadJugadores .botones #jugadores3 {
      font-size: 1.5rem; }

.salida {
  margin-top: -5rem;
  margin-left: 3rem; }
  .salida .boton {
    margin-top: -10rem;
    text-decoration: none;
    color: #090808; }

#nombres {
  display: none;
  width: 100%; }
  #nombres .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    #nombres .col .ingresarNombres {
      width: 27rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 1.5rem; }
    #nombres .col .form-control {
      width: 30vw;
      font-size: 1.2rem;
      margin-top: 1rem;
      background-color: rgba(200, 200, 200, 0.564); }
    #nombres .col #aceptar {
      margin-top: 0.5rem; }
      #nombres .col #aceptar .aceptar {
        color: #090808;
        text-decoration: none; }

.contenedor {
  display: flex;
  flex-direction: column;
  background-image: url(../../imagenFondo/fondo-mobile-preguntas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  justify-items: center;
  text-align: center; }
  .contenedor .encabezado {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    max-width: 50rem;
    height: 32rem;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 25%;
    border-radius: 0.5rem; }
    .contenedor .encabezado .escalonCero {
      margin-top: 2rem;
      margin-left: 2rem;
      text-align: left; }
    .contenedor .encabezado .jugador {
      margin-right: 5rem;
      text-align: right;
      margin-top: -1rem; }
    .contenedor .encabezado .pregunta {
      font-size: 1.3rem;
      margin-top: 4rem;
      margin-bottom: 5rem; }
    .contenedor .encabezado .opciones {
      font-size: 1.2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      flex-direction: column;
      justify-content: center;
      color: #181818; }
      .contenedor .encabezado .opciones #opcion1 {
        background-color: #c4c6c6; }
      .contenedor .encabezado .opciones #opcion2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #999b9be6; }
      .contenedor .encabezado .opciones #opcion3 {
        background-color: #c4c6c6; }

@media (min-width: 481px) and (max-width: 1024px) {
  .fondo .boton {
    font-size: 2rem;
    margin: 4rem; }
    .fondo .boton .init {
      color: white;
      text-decoration: none; } }

@media (min-width: 481px) and (max-width: 1024px) {
  .contenedor {
    background-size: 135% 100%; }
    .contenedor .encabezado {
      margin-left: 15%; } }

@media (max-width: 480px) {
  .fondo {
    object-fit: cover;
    background-image: url(../../imagenFondo/fondo-mobile-index.png);
    background-size: 100% 100%;
    overflow: hidden; }
    .fondo h1 {
      font-size: 3.5rem;
      font-weight: 50;
      padding-top: 10%;
      padding-right: 0%; }
    .fondo .boton {
      font-size: 1.5rem;
      margin-left: 2rem;
      margin-top: 4rem; } }

@media (max-width: 480px) {
  .salida {
    margin-top: -8rem;
    margin-left: 2rem; }
  #nombres .col .ingresarNombres {
    width: 20rem;
    margin-left: 5rem; }
  #nombres .col .form-control {
    width: 68vw;
    margin-left: 2rem; }
  #nombres .col #aceptar {
    margin-top: 1rem;
    margin-left: 2rem; } }

@media (max-width: 480px) {
  .contenedor {
    background-image: url(../../imagenFondo/fondo-mobile-preguntas.jpg);
    background-size: 150% 100%;
    overflow: hidden; }
    .contenedor .encabezado {
      margin-left: 5%;
      margin-top: 0rem;
      max-width: 22rem; }
      .contenedor .encabezado .pregunta {
        font-size: 1rem; }
      .contenedor .encabezado .opciones {
        font-size: 1rem; }
      .contenedor .encabezado .jugador {
        margin-top: -1.5rem;
        margin-right: 3rem; } }
