.contenedor{
    
    display: flex;
    flex-direction: column;
    @extend%medidasBase;
    background-image: url(../../imagenFondo/fondo-3.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    justify-content: center;
    justify-items: center;
    text-align: center;
    

    .encabezado{
        
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        max-width: 50rem;
        height: 32rem;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 25%;
        border-radius: 0.5rem;

        .escalonCero{
            margin-top: 2rem;
            margin-left: 2rem;
            text-align: left;
        }

        .jugador{
         margin-right: 5rem;
           text-align: right;
           margin-top: -1rem;
          
        }

        .pregunta{
            font-size: 1.3rem;
            margin-top: 4rem;
          margin-bottom: 5rem; 
              
        }

        .opciones{
            font-size: 1.2rem;
            margin-left: 2rem;
            margin-right: 2rem;
            flex-direction: column;
            justify-content: center;
            color: rgb(24, 24, 24);
            
            #opcion1{
                background-color: #c4c6c6 ;
                @extend%opciones;  
            }

            #opcion2{
                margin-top: 1rem;
                margin-bottom: 1rem;
                background-color: #999b9be6 ;
                @extend%opciones;
            }

            #opcion3{
                background-color: #c4c6c6 ;
                @extend%opciones;   
            }  
        }
  
    }
}

