@media(min-width:481px) and (max-width: 1024px) {
    .fondo {
        
        .boton {
            font-size: 2rem;
            margin: 5rem;

            .init {

                color: white;
                text-decoration: none;

            }

        }
    }
}