* {
    margin: 0;
    padding: 0;
}

.fondo{
    @extend%medidasBase;
    background-image:url(../../imagenFondo/fondo-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    

    h1 {
        font-weight: 400;
        font-size: 6rem;
        font-family: 'Figtree', sans-serif;
        text-align:center;
        color: rgba(32, 31, 31, 0.822);
        padding-top: 8%;
        padding-right: 50%;
        box-shadow: 0px 0px 30px black;
    }

    .boton{
        font-size: 3rem;
        margin: 15rem;
        .init{
        
            color: white;
             text-decoration: none;
         
         }

    }

   
}