%medidasBase{
    width: 100vw;
    height: 100vh;
}

%opciones{
    padding: 0.5rem;
    &:hover{
        background-color: #e4a010;
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.3s;
    }
}